<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <title>StoryMountain</title>
            <link rel="stylesheet" href="../../main.css" type="text/css">
            <link rel="stylesheet" href="../../toolBar.css" type="text/css">
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Raleway|Raleway+Dots" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Lato|Old+Standard+TT|Open+Sans|Raleway|Roboto&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        </head>
        <body>

        <div id="toolBar"><!-- start tool bar -->

            <div class="nav"> <!-- svg storymountain logo -->
                <a href="/"> 
                    <?xml version="1.0" encoding="utf-8"?>
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        viewBox="0 0 800 800" style="enable-background:new 0 0 800 800;" xml:space="preserve">
                    <style type="text/css">
                        .st0{fill:none;stroke:rgb(202, 202, 202);stroke-width:17;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
                    </style>
                    <polygon class="st0" points="731,595.9 400.1,786.9 69.1,595.9 69.1,213.7 400.1,22.6 731,213.7 "/>
                    <polyline class="st0" points="69.1,595.9 146,557.3 69.1,213.7 400.1,172 146,557.3 400.1,786.9 "/>
                    <line class="st0" x1="400.1" y1="172" x2="400.1" y2="22.6"/>
                    <polyline class="st0" points="731,595.9 654.2,557.3 731,213.7 400.1,172 654.2,557.3 400.1,786.9 "/>
                    <line class="st0" x1="400.1" y1="172" x2="400.1" y2="22.6"/>
                    <line class="st0" x1="654.2" y1="557.3" x2="146" y2="557.3"/>
                    </svg>
                </a> 
            </div> <!-- end svg storymountain logo -->

            <a href="/users/dashboard"><i id="accountIcon" class="fa fa-user toolBarIcon" style="font-size: 25px; color: #ffffff;"></i></a> <!-- profile icon -->

        </div><!-- end  tool bar -->
